.listOther {
  margin: 32;
  border-radius: 10px !important;
  overflow-wrap: break-word;
}
.listMe {
  margin: 32;
  background-color: #3f51b5;
  border-radius: 10px !important;
  overflow-wrap: break-word;
}
.paperMe {
  margin-left: 70px !important;
  color: white !important;
  border-radius: 10px !important;
  width: 350px;
}
.paperOther {
  border-radius: 10px !important;
  width: 350px;
}
.usersCards {
  border-radius: 5px !important;
}
.like {
  margin: 0 !important;
}
.skeleton {
  width: 350px;
}

@media screen and (max-width: 500px) {
  .paperMe {
    margin-left: 70px !important;
    color: white !important;
    border-radius: 10px !important;
    width: 270px;
  }
  .paperOther {
    border-radius: 10px !important;
    width: 270px;
  }
  .skeleton {
    width: 270px;
  }
}
.buttonSend {
  margin: 27px 0px !important;
}
.textField {
  width: 300px;
  height: 56px;
  color: grey !important;
  justify-content: left !important;
}
.textFieldRead {
  color: dimgray !important;
}
@media screen and (max-width: 435px) {
  .textField {
    margin: 0 !important;
    margin-left: 10px !important;
  }
  .buttonSend {
    margin: 10px 0px 0px 10px !important;
  }
}

@media screen and (min-width: 950px) {
  .containerFixed {
    position: fixed;
  }
}
